body {
  background-image: url("/image/wallpaperflare.com_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100%;
}

/* -------------------------------- Link -------------------------------- */

a:link,
a:visited {
  color: rgb(103, 77, 43);
}

a:hover,
a:active {
  /* color: rgb(18,51,164); */
  color: rgb(14, 31, 140);
}

a {
  position: relative;
  text-decoration: none;
  font-family: Coinage;
  font-size: 12.5px;
}

.login a {
  bottom: -60px;
}

.signup a {
  bottom: -30px;
}

/* -------------------------------- Card -------------------------------- */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.login {
  height: 390px;
}

.signup {
  height: 490px;
}

.form {
  position: fixed;
  background: rgba(224, 215, 186, 0.6);
  top: 17vh;
  border-radius: 10px;
  width: 27vw;
  text-align: center;
  min-width: fit-content;
  min-height: fit-content;
}

/* -------------------------------- Elements -------------------------------- */

h1 {
  font-family: MagicSchool;
  font-weight: 500;
  font-size: 60px;
  margin: 20px;
}

.details {
  position: relative;
  margin: 20px;
}

label {
  display: block;
  text-align: left;
  font-family: Coinage;
  font-size: 14.5px;
}

input {
  display: block;
  min-width: 250px;
  width: 24vw;
  height: 25px;
  border: 0.1px solid rgb(103, 77, 43);
  border-radius: 2px;
  background-color: transparent;
  outline: none;
  font-family: Aver;
  font-weight: 200;
}

select {
  display: block;
  min-width: 257px;
  width: 24.47vw;
  height: 25px;
  border-radius: 2px;
  border-color: rgb(103, 77, 43);
  background-color: transparent;
  outline: none;
  font-family: Aver;
}

/* -------------------------------- Button -------------------------------- */

button {
  position: relative;
  box-sizing: content-box;
  border: 0px;
  border-radius: 10px;
  width: 25vw;
  height: 40px;
  background-color: rgb(223, 196, 163);
  box-shadow: 2px 2px 5px rgba(156, 109, 48, 0.8);
  font-family: MagicSchool;
  padding: 1px;
  font-size: 25px;
}

button:hover {
  cursor: pointer;
}

button:active {
  transition: 100ms;
  box-shadow: 0px 0px;
}

.login button {
  bottom: -30px;
}

.signup button {
  bottom: -10px;
}

/* -------------------------------- Responsive -------------------------------- */

@media screen and (max-width: 400px) {
  .signup {
    height: 420px;
  }

  .form {
    top: 15vh;
    left: 0px;
    width: 100%;
    background-color: rgba(224, 215, 186, 0.43);
  }

  button,
  .details input {
    width: 89%;
  }

  .details select {
    width: 91%;
  }

  a:link,
  a:visited {
    color: rgb(85, 63, 35);
  }
}

/* -------------------------------- New Font Styles -------------------------------- */

@font-face {
  font-family: MagicSchool;
  src: url("/fonts/magic-school.one.ttf") format("truetype");
}

@font-face {
  font-family: Coinage;
  src: url("/fonts/CoinageCapsKrugerGray-8KvB.ttf") format("truetype");
}

@font-face {
  font-family: Aver;
  src: url("/fonts/Aver-opKo.ttf") format("truetype");
}
