<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="room-control">
      <form action="/home" method="POST">
        <label for="room">Room:</label>
        <select name="room" id="room">
          <option value="Gryffindor">Gryffindor</option>
          <option value="Slytherin">Slytherin</option>
          <option value="Ravenclaw">Ravenclaw</option>
          <option value="Hufflepuf">Hufflepuf</option>
        </select>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
