<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/pages.css" />
  </head>
  <body>
    <div class="container">
      <div class="form">
        <div class = "signup">
          <h1>Sign Up</h1>
          <form action="/signup" method="POST">
            <div class="details">
              <label for="name">Username:</label>
              <input type="text" name="name" placeholder="Username" required />
            </div>
            <div class="details">
              <label for="password">Password:</label>
              <input type="password" name="password" placeholder="Password" required />
            </div>
            <div class="details">
              <label for="conf_password">Confirm Password:</label>
              <input
                type="password"
                name="conf_password"
                placeholder="Confirm Password"
                required
              />
            </div>
            <div class="details">
              <label for="house">House:</label>
              <select name="house" id="house">
                <option value="Gryffindor">Gryffindor</option>
                <option value="Slytherin">Slytherin</option>
                <option value="Ravenclaw">Ravenclaw</option>
                <option value="Hufflepuf">Hufflepuf</option>
              </select>
            </div>
            <button type="submit">Submit</button>
          </form>

          <a href="/">Go back to login Page</a>
        </div>
      </div>
    </div>
  </body>
</html>
